* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h2,
a {
  font-family: 'Lato', sans-serif !important;
}

/* Header Section */

header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 4rem;
  border-bottom: 3px solid black;
  background-color: black;
  color: white;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}
nav a:focus {
  text-decoration: underline;
}

.homeHeader {
  background-color: white;
  color: black;
}

.homeHeader a {
  color: black;
}

@media only screen and (max-width: 550px) {
  nav li {
    padding: 1rem 1.5rem;
  }
}

/* Footer Section */

footer {
  background-color: black;
  color: white;
  text-align: left;
}

footer p {
  padding: 1.5rem;
}

/* Home Banner Section */

.banner {
  height: 90vh;
  background-image: url('./images/hitchcockWallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.bannerHeader {
  float: right;
  padding: 10% 20% 0 0;
}

.bannerHeader h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
}

.bannerSubHeader {
  display: flex;
  justify-content: center;
}

.bannerSubHeader h2 {
  text-transform: uppercase;
  padding-right: 0.5rem;
}

.bannerSubHeaderSmall {
  display: none;
}

@media only screen and (max-width: 900px) {
  .bannerHeader {
    float: right;
    padding: 5% 10% 0 0;
  }
}

@media only screen and (max-width: 770px) {
  .bannerHeader {
    text-align: center;
  }
  .bannerSubHeader {
    display: none;
  }
  .bannerSubHeaderSmall {
    display: block;
    text-transform: uppercase;
  }
  .bannerSubHeaderSmall h2 {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 725px) {
  .bannerHeader {
    width: 50%;
    text-align: right;
  }
}

@media only screen and (max-width: 550px) {
  .bannerHeader {
    padding: 5% 5% 0 0;
  }
}

/* About Main Content */

.aboutMainContainer {
  margin: 5rem;
  display: flex;
}

.aboutHitch {
  /* text-align: center; */
  padding: 1rem;
}

.aboutHitch h2 {
  text-decoration: underline;
  padding-bottom: 1.5rem;
}

.aboutHitch p {
  padding-top: 1rem;
  line-height: 1.7rem;
}

.aboutHitch,
.portrait {
  width: 50%;
}

.solidHr {
  border-top: 2px solid black;
}

.portraitOne {
  width: 25rem;
  max-width: 25rem;
  border-radius: 0.95rem;
  margin-left: 15%;
}

.portraitWide {
  display: none;
}

@media only screen and (max-width: 950px) {
  .aboutMainContainer {
    margin: 0;
    display: block;
  }
  .portrait {
    display: none;
  }
  .aboutHitch {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  .portraitWide {
    display: block;
    width: 100%;
  }
  .portraitTwo {
    width: 100%;
  }
}

/* Skills */

.skills {
  text-align: center;
  padding-bottom: 2rem;
}

.skills h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.skillsContainer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.skillItem {
  display: inline-block;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.skillIcon {
  padding-bottom: 1rem;
  width: 6rem;
}

/* Projects Section */

.projects {
  height: 36.5rem;
  display: flex;
}

#filmList {
  padding: 2.5rem 0 2.5rem 10%;
  line-height: 2rem;
  width: 40%;
}

.filmItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.posterContainer {
  width: 60%;
  display: flex;
  align-items: center;
}

#poster {
  border: 3px solid black;
  width: 25rem;
  height: 75%;
}
